body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
h3{
    font-weight: 100%;
    color: red;
}

p{
    color: dimgrey;
}

.name-highlight{
    color: orange;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    padding-left: 2%;
    

}
.half-width img {
    width: 100%;

}
.TopBanner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.linkButton{

    text-decoration: none;
    border: 2px solid grey;
    
    padding: 10px 10px;
    
    color: black;
    font-weight: 700;
}
.linkButton:hover{
    transition: 1s;
    color: white;
    box-shadow: inset 400px 0 0 0 red;

}

.lowBanner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.singleExperience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 75%;
    width: 25%;
   
}
.xprnc{
    background-color: rgba(69, 129, 241, 0.5);
   height: 300px;
   padding-top: 5px;
   
}
#firstbox{
       border-left: 7px solid;
       border-image: linear-gradient(orange, tomato);
       border-image-slice: 5;
}
#secondbox{
    border-left: 7px solid;
       border-image: linear-gradient(black, blue);
       border-image-slice: 5;

}
.work{
    background-image: url(save2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    
    
}
.workdiv{
    
    position: absolute;
    width: 40%;
    float: left;
    top: 45%;
    left: 35%;
}

   
    

#exp{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    
}
#ltst{
    color: #F46060 ;
}
.workdiv p{
    font-size: 50px;
}
.chat{
    position: absolute;
width: 906px;
height: 225px;
left: 267px;
top: 2116px;

}
h4{
    text-align: center;
    font-size: x-large;
}

.lowerhalf{
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    padding-left: 2%;
}
.h{ font-size: 40px;
    position: absolute;
width: 277px;
height: 64px;
left: 341px;
top: 2150px;

}
.box{
    position: absolute;


left: 972px;
top: 2201px;
font-size: 20px;
text-decoration: none;

}